<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net46" />
  <package id="JustMock" version="2017.2.821.1" targetFramework="net46" />
  <package id="JustMock.EntityFramework" version="2015.3.929.5" targetFramework="net46" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net46" />
  <package id="Moq" version="4.7.145" targetFramework="net46" />
  <package id="MSTest.TestAdapter" version="1.1.11" targetFramework="net46" />
  <package id="MSTest.TestFramework" version="1.1.11" targetFramework="net46" />
</packages>